<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011622029564-96o7q6ljsp64hjdqfqnfpgbc4k7pjc03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011622029564-96o7q6ljsp64hjdqfqnfpgbc4k7pjc03</string>
	<key>API_KEY</key>
	<string>AIzaSyDssKlTRdu8Kt4KETljla4HxG1bIj5jMG0</string>
	<key>GCM_SENDER_ID</key>
	<string>1011622029564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.captsoneUi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cebuarena-e378a</string>
	<key>STORAGE_BUCKET</key>
	<string>cebuarena-e378a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011622029564:ios:e25a38cc9966a9def90f79</string>
</dict>
</plist>